// 文字大小
@base-font-size: 14px; // 基础字体大小
@small-font-size: 13px; // 小字体大小
@big-font-size: 16px; // 大字体大小

// 主题色
@primary-color: #1756f6;
@primary-color-hover: #356cf5;
@default-color-hover: #d9e1f6;

@main-text-color: #222;

@base-background-color: #f3f4f7; // 内容区默认背景色
@layout-bg-color: #151c41; // 布局背景颜色 #545c64
